$pink: #feb39e;
$yellow: #f6b055;
$blue: #4dbcfc;
$green: #4ed757;
.landing {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.intro {
  margin-top: 50vh;
  padding: 0px 46px;
  & > span {
    font-size: 1.2rem;
  }
}
.projectContainer {
  padding-top: 20px;
  .project {
    border-top: 1px solid #000;
    background-color: #fff;
    margin-bottom: -28px;
    padding: 0px 40px;
    transition: all 0.6s ease;
    a {
      color: #000;
      text-decoration: none;
      position: relative;

      .label {
        position: absolute;
        background-color: #fff;
        border-radius: 100px;
        border: 1px solid #000;
        padding: 8px 16px;
        content: '';
        top: 90px;
        transition: all 0.3s ease-in-out;
        animation: fadeInAnimation ease 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      .projectImg {
        transition: all 0.3s ease-in-out;

        position: absolute;
        content: '';
        top: 90px;
        right: 0;
        transform: rotate(0deg);
        img {
          border-radius: 16px;
          width: 500px;
          border: 1px solid #000;

          animation: fadeInAnimation ease 1.5s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
      }
    }
    &:hover {
      transform: translateY(-28px) translateZ(0px) !important;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
      cursor: pointer;
      a {
        .label {
          top: -28px;
          transition: all 0.3s ease-in-out;
        }
        .projectImg {
          transition: all 0.3s ease-in-out;
          transform: rotate(-15deg);
          top: -160px;
        }
      }
    }
  }
  .one {
    &:hover {
      background-color: $yellow;
    }
  }
  .two {
    a .projectImg {
      right: 100px;
    }
    &:hover {
      background-color: $blue;
    }
  }
  .three {
    a .projectImg {
      right: 200px;
    }
    &:hover {
      background-color: $pink;
    }
  }
  .four {
    &:hover {
      background-color: $green;
    }
  }
}
.about {
  margin: 200px 0px;
  padding: 0px 46px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .aboutTitle {
    padding: 8px 32px;
    margin: 0.4rem;
    border: 1px solid #000;
    border-radius: 100px;
    width: fit-content;
  }
  a {
    color: #000;
    display: inline-block;
    svg {
      margin-bottom: -6px;
    }
  }
  .aboutDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    & > div {
      line-height: 2.4rem;
    }
    .tag {
      padding: 8px 16px;
      margin: 0.4rem;
      border: 1px solid #000;
      border-radius: 100px;
    }
    .one {
      background-color: $pink;
    }
    .two {
      background-color: $yellow;
    }
    .three {
      background-color: $blue;
    }
    .four {
      background-color: $green;
    }
  }
}

.viewProject a {
  padding: 0px 46px;
  border-top: 1px solid black;
  margin-top: 200px;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  &:hover {
    .arrow:before {
      width: 100px;
    }
  }
  .arrow {
    display: inline-block;

    cursor: pointer;
  }

  .arrow:before {
    content: '';
    height: 2px;
    width: 60px;
    background-color: #000;
    display: block;
    float: left;
    position: relative;
    top: 10px;
    left: 24px;
    transition: 0.2s ease-in-out;
  }

  .arrow:after {
    content: '';
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(135deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
