@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap');
body {
  font-family: 'Manrope', sans-serif;
}
h1 {
  font-size: 5rem;
  margin: 0;
  white-space: nowrap;
}
h2 {
  font-size: clamp(1rem, 8vw, 3rem);
  margin: 0;
}
