@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 3rem;
  margin: 0;
}
h2 {
  font-size: clamp(1rem, 8vw, 2rem);
  margin: 0;
}
